<h1>Welcome to Salary-parser!</h1>

<div>
  <h3>Import a CSV File</h3>
  <%= form_tag salaries_import_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import CSV" %>
  <% end %>
</div>

